[Unit]
Description=Bun App
After=network.target

[Service]
Type=simple
WorkingDirectory=/root/app
ExecStart=/root/.bun/bin/bun run start
Restart=always
RestartSec=3
User=root
Environment=NODE_ENV=production
Environment=INSTANCE_ID=__INSTANCE_ID__
StandardOutput=journal
StandardError=journal
SyslogIdentifier=bun-app

[Install]
WantedBy=multi-user.target
